

body {
  /* margin: 0; */
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 0 !important; */
  background-color: #0e121e;
}

.headingEvents {
  font-size: 45pt;
  color: white;
}

.description {
  color: white;
  font-size: 18pt;
  padding: 10pt;
  text-align: center;
}

.img-desc {
  padding: 10pt;
  text-align: center;
}

.photo {
  height: 450pt;
  width: 1000pt;
}

/* About Section */

.aboutHeading {
  font-family: 'Space Mono', monospace;
  color: white;
  text-align: center;
  margin: 10pt;
  padding: 20pt;
  font-size: 40pt;
}

.aboutphoto {
  width: 75%;
  padding: 10pt;
  text-align: center;
}

.aboutp {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 14pt;
  padding: 10pt;
}


/*footer*/

.col_white_amrc {
  color: #FFF;
}

footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #CCC;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Events Page */
a {
  text-decoration: none;
  color: #333;
}

figure {
  margin: 0;
}

.tile {
  width: 250px;
  height: 350px;
  margin: 2em;
  position: relative;
  float: left;
}
.tile .front, .tile .back {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 350px;
  position: absolute;
  overflow: hidden;
  text-align: center;
}
.tile h3, .tile p, .tile a {
  padding: 0 20px;
}
.tile img {
  max-height: 130px;
}
.tile .front {
  background: #fff;
  transition: all .5s ease-in-out;
  z-index: 2;
}
.tile .front h3 {
  font-size: 2em;
  color: white;
  text-shadow: 0 0 5px #000;
  margin-top: -1.5em;
  margin-bottom: 1.5em;
}
.tile .back {
  background: #e6b800;
  color: white;
  z-index: 1;
  padding-top: 50px;
  height: 300px;
}
.tile .back h3 {
  font-size: 1.5em;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tile .back li {
  display: block;
  font-size: 1.2em;
  color: white;
  border-top: 1px solid #ffcc00;
  margin: 0 20px;
  padding: .5em 0;
}
.tile:hover .front {
  top: -300px;
  transform: rotate(5deg);
}



 #timer{
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
  text-align: center;
  margin: auto;
}

span {
  /*font-family: 'Space Mono', monospace;*/
  display: block;
  /* font-size: 20px; */
  color: white;
}
.timerinside {
  /*font-family: 'Space Mono', monospace;*/
  display: block;
  font-size: 20px;
  color: white;
}

#days {
  font-size: 100px;
  color: #db4844;
}
#hours {
  font-size: 100px;
  color: #f07c22;
}
#minutes {
  font-size: 100px;
  color: #f6da74;
}
#seconds {
  font-size: 50px;
  color: #abcd58;
}

.navbar-default{
  background-color: transparent;
  border-color: #444;
  z-index: 110;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}
.navbar-default .navbar-nav > li > a{
  color: #B5B5B5 !important;
  /*font-family: 'Raleway';*/
  transition: all 1s;
  font-size: 2em;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}
.navbar-brand img{
  height: 100%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #129CF3 !important;

}
.navbar-default .navbar-nav > li > a:focus{
  color: #b5b5b5;
}
navbar-default .navbar-nav > .active >a,
navbar-default .navbar-nav > .active >a:hover,
navbar-default .navbar-nav > .active >a:focus{
  background-color: transparent;
  color: #129cf3;
}

.nav-item{
  font-family: "Space Mono";
}

.overlay {
  position: absolute;
  padding-left: 45%;
  padding-top: 20%;
}

.heading {
  color: #eee;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 2%;
}

.modal-content {
  height: auto;
  margin: auto;
  min-height: 85%;
  border-radius: 5pt;
}